apiVersion: apps/v1
kind: Deployment
metadata:
  name: simple-app
  labels:
    app: simple-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: simple-app
  template:
    metadata:
      labels:
        app: simple-app
    spec:
      containers:
      - name: simple-app
        image: khaledelnabawy1/simple-app-jenkins:latest
        ports:
        - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: simple-app-svc
spec:
  type: LoadBalancer
  selector:
    app: simple-app
  ports:
    - port: 80
      targetPort: 80
